.main-content
  width 100%
  margin-left 300px
  min-height 100vh
  background-color $background
  padding-bottom $defaultSize * 2

  .box
    padding 0 6 * $defaultSize

    &.mg-top
      margin-top 6 * $defaultSize

    .panel
      background-color $white
      padding $defaultSize * 3
      width 100%
      border 2px solid $greyBorder
      margin-top $defaultSize * 2

      +.panel
        margin-top $defaultSize * 2

      .panel-title
        color $greyList
        font-size 1.25rem
        font-weight 700
        margin-bottom $defaultSize * 3