.menu
  width 300px
  height 100vh
  position fixed
  background-color $secondary

  .menu-wrapper
    color $white
    height 100%

    .logo
      padding 3 * $defaultSize 3 * $defaultSize 0
    .logo img
      width 100%
      cursor pointer

    .menu-list
      margin-top 4 * $defaultSize

      .menu-tab

        font-size 1.25rem

        a
        div
          text-decoration none
          padding $defaultSize * 2 3 * $defaultSize
          color $menuTabs
          display block
          width 100%
          transition all 0.3s ease
          display flex
          align-items center
          cursor pointer

          &.logout
            background-color $logout

            &:hover
            &.current
              background-color $logoutHover
              color white
            
          &:hover
          &.current
            background-color $primary
            color white

          .icon
            padding-right $defaultSize * 2
            font-size 1.75rem

        ul
          a
          a.active
            background-color $tertiary

          a.active
            color $white