@import './config/variables.styl'
@import './config/fonts.styl'

@import './layout/menu.styl'
@import './layout/main-content.styl'

@import './basics/header.styl'
@import './basics/buttons.styl'
@import './basics/editor.styl'
@import './basics/loader.styl'

@import './elements/homeCard.styl'
@import './elements/list.styl'

@import './form/formfield.styl'

main
  width 100%
  height 100%
  display flex
  flex-direction row

*
  box-sizing border-box