.list
  margin-top $defaultSize * 2
  .list-item
    background-color $white
    padding $defaultSize * 2
    display flex
    align-items center
    justify-content space-between
    color $greyList
    position relative

    +.list-item
      margin-top $defaultSize * 2
    
    &:before
      position absolute
      top 0
      left 0
      height 100%
      content ''
      width $defaultSize
      background-color $primary

    .item-info
      display flex
      align-items center
      font-weight 700

      .item-img
        height 45px
        width 45px
        overflow hidden
        border-radius 23px;
        margin-right $defaultSize

      img
        height 100%

    .item-actions
      a
      button
        background-color transparent
        color $greyList
        font-size 1.5rem