.login
  width 100%
  min-height 100vh
  background-color $primary
  display flex
  justify-content center
  align-items center

  .login-wrapper
    max-width 350px

    img
      width 100%

    .login-form
      background-color $white
      padding $defaultSize * 3
      border-radius $defaultSize
      margin-top $defaultSize