.text-editor
  margin-top $defaultSize * 4
  border 1px solid $greyBorder

  .text-editor-toolbar
    margin-bottom 0px

  .text-editor-body
    background-color $white
    min-height 300px
    padding 0 $defaultSize * 2