.header
  background-color $primary
  padding 4 * $defaultSize
  color $white

  &.big
    text-align center
    padding 8 * $defaultSize 16 * $defaultSize

    h1
      font-size 3rem
      font-weight 700
      margin-bottom 2 * $defaultSize

    .welcome-description
      font-size 1.25rem
      font-weight 300
      line-height 1.4rem