$primary = #00A8E1
$secondary = #2F3E4E
$tertiary = #387ca3
$background = #E5E5E5
$white = #ffffff
$greyList = #989898

$greyText = #232323

$greyBorder = #C3C3C3
$blackText = #000000

$green = #B6BD00

$menuTabs = #CCCCCC
$error = #EA3059

$defaultSize = 8px

.mg-top-small
  margin-top $defaultSize * 2